body {
    background-color: lightgray;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    text-align: center;
    text-shadow: 3px 3px 3px white;
}

.frame {
    width: 250px;
    height: 360px;
    margin: 5% auto;
    border: 2px solid darkgray;
    box-shadow: 3px 3px 3px darkgray;
    background-color: gray;
}

div.result {
    margin: 10px;
    border: 2px solid gray;
}

input.result {
    width: 100%;
    height: 30px;
    font-size: large;
    text-align: right;
    border: transparent;
    padding: 5px;
}

div.number_panel {
    float: left;
    width: 75%;
    height: 100%;
}

div.operator_panel {
    float: left;
    width: 25%;
    height: 100%;
}

button {
    float: left;
    margin: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: black;
    font-size: larger;
    border: transparent;
}

button.number {
    background-color: lightyellow;
}

button.num_operator {
    background-color: lightyellow;
}

button.operator {
    background: orange;
}

button.number_0 {
    width: 110px;
}

button:active {
    position: relative;
    left: 3px;
    top: 3px;
}

button:hover {
    background-color: lightseagreen;
}

div.log {
    border: 1px solid gray;
    height: 100px;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: large;
    padding-left: 10px;
}