<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="calculator" ng-controller="mycontroller as c">

<h2 class="title">Calculator</h2>
<hr/>

<div class="frame">
    <div class="result">
        <input class="result" type="text" ng-model="c.display">
    </div>
    <div class="panel">
        <div class="number_panel">
            <button class="num_operator" ng-click="c.clearOnClicked()">C</button>
            <button class="num_operator" ng-click="c.pos_negOnClicked()">+/-</button>
            <button class="num_operator" ng-click="c.percentageOnClicked()">%</button>
            <button class="number" ng-click="c.numberOnClicked(7)">7</button>
            <button class="number" ng-click="c.numberOnClicked(8)">8</button>
            <button class="number" ng-click="c.numberOnClicked(9)">9</button>
            <button class="number" ng-click="c.numberOnClicked(4)">4</button>
            <button class="number" ng-click="c.numberOnClicked(5)">5</button>
            <button class="number" ng-click="c.numberOnClicked(6)">6</button>
            <button class="number" ng-click="c.numberOnClicked(1)">1</button>
            <button class="number" ng-click="c.numberOnClicked(2)">2</button>
            <button class="number" ng-click="c.numberOnClicked(3)">3</button>
            <button class="number number_0" ng-click="c.numberOnClicked(0)">0</button>
            <button class="number" ng-click="c.dotOnClicked()">.</button>
        </div>
        <div class="operator_panel">
            <button class="operator" ng-click="c.operatorOnClicked('/')">/</button>
            <button class="operator" ng-click="c.operatorOnClicked('*')">*</button>
            <button class="operator" ng-click="c.operatorOnClicked('-')">-</button>
            <button class="operator" ng-click="c.operatorOnClicked('+')">+</button>
            <button class="operator" ng-click="c.equalOnClicked()">=</button>
        </div>
    </div>

</div>

<hr/>
<div class="log">
    <textarea ng-model="c.logs"></textarea>
</div>

</body>
</html>
